<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doome.text_baseddungeoncrawler">

    <uses-feature
        android:name = "android.hardware.sensor.accelerometer"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Escape The Dungeon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TitleScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DifficultySelection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StatSelection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gameplay"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EnterNames"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FinishedGame"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameOverScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Shake"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SpellSelection"
            android:screenOrientation="portrait"/>

    </application>

</manifest>