<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doome.dungeon_lords">

    <uses-feature
        android:name = "android.hardware.sensor.accelerometer"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dungeon Lords"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.doome.dungeon_lords.TitleScreen"
            android:screenOrientation="portrait"
            android:label="Dungeon Lords">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatSelection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Gameplay"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EnterNames"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Outside"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameOverScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Shake"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SpellSelection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Tutorial"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Dialogue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Items"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sleeping"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Exploration"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewWorldMap"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Town"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BuyingStuff"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PartialScrollTest"
            android:screenOrientation="portrait"/>


    </application>

</manifest>